@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 30, 41, 59;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 248, 250, 252;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #F8FAFC;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}